<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.leon.wechat</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1148F369-A0E3-48C2-9C12-FF7B0FC50226</key>
		<array/>
		<key>26DB6AFC-5D5F-4349-8DE0-BE9C19E4F306</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AE38354-0CDC-44AD-A0BA-293AE9D885C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63E96C71-6591-4CDB-9D2D-9ADB49F7493F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9574BD3B-A25A-4DCE-8A14-C07FA7A82AF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7F2E6E3-16A6-47DF-9A5C-81CF7F102D25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AE38354-0CDC-44AD-A0BA-293AE9D885C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1148F369-A0E3-48C2-9C12-FF7B0FC50226</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C8DB0D9-B9EC-4246-8277-31EA7E3E0BE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DB6AFC-5D5F-4349-8DE0-BE9C19E4F306</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E8871CE-0CD0-4BAC-84D3-E9A6AE74E350</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C110A6D1-DDC9-4543-AF28-EC9C52632803</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9574BD3B-A25A-4DCE-8A14-C07FA7A82AF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2160353A-02E8-43F7-8A76-03824BEB9FEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7F2E6E3-16A6-47DF-9A5C-81CF7F102D25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEC0A514-075F-4CCB-A447-97610DED8288</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B559B424-3E8E-4420-B9A0-09CDFF9D870A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E96C71-6591-4CDB-9D2D-9ADB49F7493F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDC783C6-CA1A-4333-88AC-A0E56B177354</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C8DB0D9-B9EC-4246-8277-31EA7E3E0BE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LeonGuo</string>
	<key>description</key>
	<string>微信快捷对话</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>wechatTool</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WeChat.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>C110A6D1-DDC9-4543-AF28-EC9C52632803</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wx</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>打开微信</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E8871CE-0CD0-4BAC-84D3-E9A6AE74E350</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var app = Application('微信')
	var SystemEvents = Application('System Events');
	
	if( app.running() ){
        app.activate()
        wx = SystemEvents.processes['微信'];
    
        // wx.menuBars[1].menuBarItems[0].click()
        if (wx.windows[0].exists() == false){
            return
        }
    
        wx.windows[0].splitterGroups[0].textFields[0].focused = true
        while (wx.windows[0].splitterGroups[0].scrollAreas.length == 1 ){
            delay(0.1)
        }
    
        delay(0.3)
        wx.windows[0].splitterGroups[0].textFields[0].value = argv
    
        delay(0.5)
		var using = [];
        SystemEvents.keyCode(36, {using: using});
    }
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1148F369-A0E3-48C2-9C12-FF7B0FC50226</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CDC783C6-CA1A-4333-88AC-A0E56B177354</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WeChat.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7AE38354-0CDC-44AD-A0BA-293AE9D885C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wx</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python -O open_wxchat.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入联系人</string>
				<key>title</key>
				<string>快捷微信对话</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C8DB0D9-B9EC-4246-8277-31EA7E3E0BE4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>26DB6AFC-5D5F-4349-8DE0-BE9C19E4F306</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>同步联系人完成</string>
				<key>title</key>
				<string>微信助手</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2160353A-02E8-43F7-8A76-03824BEB9FEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>sucess</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9574BD3B-A25A-4DCE-8A14-C07FA7A82AF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sync</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>同步微信联系人</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B559B424-3E8E-4420-B9A0-09CDFF9D870A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Mac版微信的本地数据路径，下改成自己的
db_path="/Users/{username}/Library/Containers/com.tencent.xinWeChat/Data/Library/Application Support/com.tencent.xinWeChat/2.0b4.0.9/sdsdsdsdsdsdssdsd"

# 密码获取参考：https://www.v2ex.com/t/466053
db_key="\"x'ababababababababababababababababababa'\""

/usr/bin/python -O update_wx_contact.py "$db_path" $db_key</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63E96C71-6591-4CDB-9D2D-9ADB49F7493F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>同步联系人出错</string>
				<key>title</key>
				<string>微信助手</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AEC0A514-075F-4CCB-A447-97610DED8288</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A7F2E6E3-16A6-47DF-9A5C-81CF7F102D25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>1148F369-A0E3-48C2-9C12-FF7B0FC50226</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2160353A-02E8-43F7-8A76-03824BEB9FEB</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>26DB6AFC-5D5F-4349-8DE0-BE9C19E4F306</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>63E96C71-6591-4CDB-9D2D-9ADB49F7493F</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>7AE38354-0CDC-44AD-A0BA-293AE9D885C3</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>8C8DB0D9-B9EC-4246-8277-31EA7E3E0BE4</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>8E8871CE-0CD0-4BAC-84D3-E9A6AE74E350</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>9574BD3B-A25A-4DCE-8A14-C07FA7A82AF4</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>A7F2E6E3-16A6-47DF-9A5C-81CF7F102D25</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>AEC0A514-075F-4CCB-A447-97610DED8288</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>B559B424-3E8E-4420-B9A0-09CDFF9D870A</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C110A6D1-DDC9-4543-AF28-EC9C52632803</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>CDC783C6-CA1A-4333-88AC-A0E56B177354</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.jianshu.com/p/8a2df7086452</string>
</dict>
</plist>
